faiss-cpu==1.7.4 
ipykernel==6.21.2
ipython==8.11.0
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
lxml==5.3.0
Markdown==3.5.2
markdown-it-py==2.2.0
numpy==1.26.3 
openai==1.52.1
openpyxl==3.1.2
pandas==2.2.2 
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-json-logger==2.0.7
requests==2.31.0
requests-oauthlib==2.0.0
streamlit==1.32.2
tenacity==8.2.2 
tiktoken==0.8.0 
pymupdf==1.23.24